body{
    backgroud-color: green;
    font-family: 'Segoe UI', sans-serif;
}
h1{
    text-align: center;
}
h2 {
    margin-left: 120px;
}
.formulario_reg form{
    width: 280px;
    magin: 80px;
    margin-left: 100px;
    display: block;
}

.formulario_reg input{
    margin: 5px;
    padding: 5px;
    margin-left: 35px;
}

.box{
    width: 550px;
    height: 400px;
    background-color: darkseagreen;
    margin: 10px;
    margin-left: 400px;
    padding: 25px;
    border: 5px solid black; 
}

.box-titulo{
    width: 550px;
    height: 100px;
    background-color: darkseagreen;
    margin: 10px;
    margin-left: 400px;
    padding: 25px;
    border: 5px solid black;
}